.App {
  text-align: center;
}

.h3 {
  margin-bottom: 9vh !important;
}

.form-container {
  margin: 10vh auto;
  width: 40vh;
}

.logo {
  text-decoration: none;
  color: grey !important;
}
.logo:hover {
  text-decoration: none;
  color: grey !important;
}
.cap {
  text-transform: capitalize;
}

.counter-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 100%;
}

.counter-container .btn {
  font-weight: bold;
  font-size: 1em;
  height: 6vh;
  width: 6vh;
}
